/* Layout specific to Login Form */
.frmLogin-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 3rem;
  margin: 0 auto;
}

.frmLogin-header {
  margin-bottom: 2.5rem;
  text-align: center;
}

.button-group {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}